
body {
    background: rgb(53, 112, 99);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 60px;

}

h1 {
    color: rgb(27, 55, 82);
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-left: 900px;
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 80px;
}

